.navbar {
  color: red;
}
.resume-item:hover {
  background-color: lightgray;
}
.resume-item {
  cursor: pointer;
}
.resume-item:active {
  background-color: palegoldenrod;
}
.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s;
}
/*navbar*/
.costom-toggle {
  border-color: #f8f9fa;
}
/* JobBoard */
.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body .btn-primary {
  margin-top: auto; /* 버튼을 카드 하단으로 고정 */
}
